.subs {
    color: $color2;
    font-weight: bolder;
    font-size: 1rem;
    font-family: sans-serif;
    font-family: cursive;
    text-decoration: underline ;
    margin-left: 0.5rem;    
    margin-top: 0.5rem;
}

div {
    padding: 0;
    h3 {
        color:  $color2;
        font-weight: bolder;
        font-size: 0.90rem;
        font-family: sans-serif;
        font-family: cursive;
        display: inline;
    }
}

div {
    padding: 0;
    h3 {
        text-align: center;
        color:  $color2;
        font-weight: bolder;
        font-size: 1rem;
        font-family: sans-serif;
        font-family: cursive; 
        display: inline;
    }
    .parrafo2 {
        text-align: center;
        color: $color2;
         font-size: 1rem;
         font-family: sans-serif;
         font-family: cursive; 
         font-family: 'Josefin Sans', sans-serif;
         display: inline;

    }


}

footer {
    background-image: url("../src/img/blue-snow.png");
    
    
    
        section ul li {
        color:  $color2;
        font-weight: bolder;
        font-size: 1rem;
        font-family: sans-serif;
        font-family: cursive;
        padding-left: 7rem;
        display: inline;
        position: relative;
        bottom: 1rem;

        }

}


