.flex-fotos {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.boot-grid {
    border: 3px solid cornflowerblue;
}   


.subs3 {
    color: rgb(46, 46, 46);
    font-weight: bolder;
    font-size: 1.7rem;
    text-decoration: underline;
    font-family: sans-serif;
    margin-left:1rem;
    padding-bottom: 1rem;
}
