.imagen1 {
    padding: 1rem 1rem;
}

.imagen2 {
    display: inline;
    margin-left: 8rem;
      
}

.imagen13 {
    margin-left: 1rem;
    margin-top: 1.5rem;
  
}

.imagen14 {
    position: relative;
    left: 30rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.imagen15 {
    margin-left: 2rem;
    margin-top: 3rem;

}

.imagen16 {
 margin-left: 4rem;
 margin-top: 1rem;
}

.imagen17 {
    margin-left: 4rem;
    margin-top: 1rem
}

.imagen18 {
margin-left: 1rem;
margin-top: 2.5rem;
}

.imagen19 {
margin-right: 4rem;
margin-top: 8rem; 
}

.imagen20 {
margin-left: 5rem;
margin-top: 6rem;
}

.imagen21 {
margin-left: 1rem;
margin-top: 1.5rem;
}

.imagen22 {
    margin-left: 30rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.imagen23 {
    margin-left: 27rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.imagen24 {
    margin-left: 27rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.imagen25 {
    margin-left: 27rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.imagen26 {
    margin-left: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.imagen27 {
    margin-left: 30rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}