  .subs3 {
    color: rgb(46, 46, 46);
    font-weight: bolder;
    font-size: 1.7rem;
    text-decoration: underline;
    font-family: sans-serif;
    margin-left:1rem;
    padding-bottom: 1rem;
}

@media screen and (max-width: 601px) {
    .titulo, .subs3  {
      font-size: 1.8rem ;
    }
}

@media screen and (max-width: 400px) {
    .titulo, .subs3  {
      font-size: 1.2rem ;
    }
}

@media screen and (max-width: 601px) {
    h1, .subs4  {
      font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 472px) {
    .logo, .instagram {
     margin-left: 4rem;
    }
}

@media screen and (max-width: 472px) {
    .instagram {
     margin-left: 5rem;
    }
}


@media screen and (max-width: 601px) {
    .parrafo1, .responsive1, .lista2, .subs99, .subs, .lista4, .contacto1, .contacto2, .motivacion, .parrafo2, .parrafo3, .parrafo4  {
      font-size: 0.8rem !important ;
    }
}

@media screen and (max-width: 426px) {
    .parrafo1, .responsive1, .lista2, .subs99, .subs, .lista4, .contacto1, .contacto2, .motivacion, .parrafo2, .parrafo3, .parrafo4  {
      font-size: 0.5rem !important ;
    }
}

@media screen and (max-width: 605px) {
    .imagen1, .img2, .imagen8, .imagen9, .imagen10, .imagen11 {
      width: 450px;
    }
}

@media screen and (max-width: 460px) {
    .imagen1, .img2 {
      width: 320px;
    }
}


@media screen and (max-width: 730px) {
    .imagen12 {
      width: 450px;
    }
}

@media screen and (max-width: 470px) {
    .imagen8, .imagen9 {
      width: 350px;
      height: auto;
    }
}

@media screen and (max-width: 465px) {
    .imagen10 {
      width: 400px;
      height: auto;
    }
}

@media screen and (max-width: 472px) {
    .imagen11, .imagen12 {
      width: 400px;
      height: auto;
    }
}

@media screen and (max-width: 472px) {
    .boton2 {
      width: 200px;
      height: auto;
      font-size: 0.6rem;
    }
}

@media screen and (max-width: 400px) {
    .boton2 {
      width: 200px;
      height: auto;
      font-size: 0.6rem;
      margin-right: 3rem;
    }
}

@media screen and (max-width: 400px) {
    .boton6 {
      font-size: 0.6rem;
    }
}

@media screen and (max-width: 601px) {
    .subs3  {
      font-size: 1rem ;
      padding: 0%;
    }
}

@media screen and (max-width: 460px) {
    .subs3  {
      font-size: 0.75rem ;
      padding: 0%;
    }
}

@media screen and (max-width: 624px) {
    .imagengrid10, .imagengrid11, .imagengrid12 {
      width: 280px;
      height: auto;
    }
}

@media screen and (max-width: 720px) {
    .imagengrid10:hover, .imagengrid11:hover, .imagengrid12:hover {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none; 
    }
}

@media screen and (max-width: 732px) {
    .imagengrid1:hover, .imagengrid2:hover, .imagengrid3:hover,.imagengrid5:hover, .imagengrid6:hover, .imagengrid7:hover {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none; 
    }
}

@media screen and (max-width: 844px) {
    .boton2:hover, .boton6:hover {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none; 
    }
}


